extends layouts/layout.pug

block content
	div(class="container")
		div(class="page-header")
			h1 About me

		p I'm hosting this website on a Raspberry-Pi 3.
		p M.Sc. student in Engineering Mathematics

		p When I'm not doing stupid stuff like this website, I might be playing games, socializing or maybe, just maybe I'm at the gym.


		