extends layouts/layout.pug

block append head
	link(rel="stylesheet" type="text/css" href="../css/calendar.css")
block append scripts

block content
	article
		h1 Tea Calendar
		div(style="overflow:auto;")
			img(src="../images/tea-calendar.jpg" alt="Advent Calendar")

		ul(id="adventDoors")



		