extends layouts/layout.pug

block content
    div(class="container")
        div(class="page-header")

    div(class="row")
        div(class="col-6 col-md-4")
            div(id="chartContainer1")
        div(class="col-6 col-md-4")
            div(id="chartContainer2")

    script.
        var rows = !{JSON.stringify(rows)};
    script(src="https://canvasjs.com/assets/script/canvasjs.min.js")
    script
        include ../public/javascript/co2.js

