extends layouts/layout.pug

block content
    div(class="container")
        div(class="page-header")
            h1 This is the co2

    div(id="chartContainer")

    <script>
    let rows = "{{ rows }}";
    console.log(rows);
    var dps = [];
    for(var element in myObject) {
        dps.push({label: element, y: myObject[element]});
    }
    var chart = new CanvasJS.Chart("chartContainer",
    {
    title:{
        text: "CO2 at my Arduino and Raspberry Pi"
    },
    axisX:{
        title: "timeline",
        gridThickness: 2
    },
    axisY: {
        title: "CO2 PPM"
    },
    data: [
    {
        type: "scatter",
        dataPoints: rows
    }
    ]
    });

    chart.render();

    </script>



