extends layouts/layout.pug

block content
	div(class="container")
		div(class="page-header")
			h1 Welcome to Supernovis.club!
		p I don't know what I should write here.
		p Just enjoy this short text.


		