extends layouts/layout.pug

block content
	div(class="container")
		div(class="page-header")
			h2 Hopefully, there will be a lamp bellow this text.
		

		canvas(id="c")
		p(id="date")
		form(id="form", onsubmit="updateColor(); return false")
			input(id="hex", type="text", name="hex")
			input(type="submit")
		p format: Hexcolor, so if you want "#ffffff" type "ffffff" without quotationmarks and press submit.
		p Only hexcolors with 6 letters work at the moment.



	script(src="/socket.io/socket.io.js")
	script
		include ../public/javascript/lamp.js