extends layouts/layout.pug

block content
	div(class="container")
		div(class="page-header")
			h2 I've only this short video of the selfbalancing robot. It's a work in progress.
		


		video(width="360", height="240", controls)
			source(src="../images/selfbalancingrobotv0.mp4")

		p As one might notice, the robot is far from perfect. 
		p Note, need to fix so the player is dynamically resized.