extends layouts/layout.pug

block append head
	link(rel="stylesheet" type="text/css" href="/css/trello.css")
block append scripts
	script(src="/socket.io/socket.io.js")
	script(src="/javascript/trello.js")
block content
	div(class="container")
		div(class="container testimonial-group")
			section(class="lists-container" id="tables")




					
								 

