extends layouts/layout.pug

block content
	div(class="container")
		div(class="page-header")
			h2 Stuff to be implemented on the website

		p Make a better web design better
		p Have a working blogg
		p Play around with React?
		p Add more cool projects
		


		